
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import 'bulma';
@import '~bulma-timeline';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
// If need, change your variables before importing Bulma
$title-color: #FFFFFF;
$subtitle-color: #DBE4EE;
$color: #DADFF7;
// $bg-color: #011a30;
$bg-color: #021a2f;
$navbar-item-color: $title-color;
$title-family: "Righteous", sans-serif;

$f1-color: #d32f2f;
$f2-color: #fbc02d;
$f3-color: #f4511e;

// html {
//     overflow: hidden !important;
// }

@mixin bordercolor($color: white, $style: solid) {
    border: 1px $style $color;
}

%flex-rows {
    display: flex;
    flex-direction: row;
    margin: 1em;
    align-items: center;
}

.border-show {
    @include bordercolor($style: dashed);
}

body {
    overflow-y: scroll;
    background-color: $bg-color;
}

.navbar {
    background-color: transparent !important;
}

.navbar-item .navbar-start {
    color: $color;
}

// .column {
//     @include bordercolor;
// }

.columns {
    align-items: center;
    width: 100%;
}

.hero-body {
    // @include bordercolor($color: wheat);
    align-items: stretch !important;
    width: 100%;
}

.rows {
    @extend %flex-rows;
    flex-wrap: nowrap;
}

.rows-wrap {
    @extend %flex-rows;
    flex-wrap: wrap;

}

#feature-1 {
    color: $f1-color;
}

#feature-2 {
    color: $f2-color;
}

#feature-3 {
    color: $f3-color;
}

.card {
    background-color: transparent !important;
}

button {
    background-color: transparent;
    border: none;
}
@import "~bulma/bulma.sass";
// @import "bulmaCarousel.sass";
