@charset "utf-8";
// If need, change your variables before importing Bulma
$title-color: #FFFFFF;
$subtitle-color: #FFFFFF;
$color: #DADFF7;
// $bg-color: #011a30;
$bg-color: #021a2f;
$navbar-item-color: $title-color;
@import "~bulma/bulma.sass";

html {
    overflow: hidden;
}

@mixin bordercolor($color: white) {
    border: 1px solid $color;
}

body {
    background-color: $bg-color;
}

.navbar {
    background-color: transparent !important;
}

.navbar-item .navbar-start {
    color: $color;
}

// .column {
//     @include bordercolor;
// }

.columns {
    align-items: center;
    width: 100%;
}

.hero-body {
    // @include bordercolor($color: wheat);
    align-items: stretch !important;
    width: 100%;
}